<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1> Проверка логических связей </h1>
    <h3>Легенда: 0-'противоречие' 1-'не связанны' 2-'следствие' </h3>
	<h3>Ограничения по тексту: не вводите слишком большой текст - обрабатывается не больше 100 сравнений</h3>
    

    <div>
      <div id="chatbox">
        <p class="botText"><span>Введите текст</span></p>
      </div>
      <div id="userInput">
	  
		<p><textarea id="textInput" type="text" name="msg"></textarea></p>
	    
        <!-- <input id="textInput" type="text" name="msg" placeholder="Введите ваш текст"> -->
		
        <input id="buttonInput" type="submit" value="Обработка">
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }

// отработка пустышек			
        $("#textInput").keypress(function(e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        })
      </script>
    </div>
  </body>
</html>
